@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Josefin+Sans:wght@300;500;700&family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.text_purple {
    color: #6415ff;
}

/*NAVIGATION BAR*/

.nav_container {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_info {
    display: flex;
    align-items: center;
}

.nav_img {
    width: 40px;
    margin-left: 24px;
}

.logo_text {
    font-weight: 900;
    margin-left: 8px;
    color: #243e63;
    font-size: 24px;
}

.logo_text:hover {
    color: #6415ff;
}

.nav_list-container {
    display: flex;
    align-items: center;
}

.nav_link-list {
    list-style-type: none;
}

.nav_link {
    color: #243e63;
    font-size: 14px;
    font-weight: 600;
    margin: 0px 24px;
    padding: 0 0 4px;
    transition: all 300ms ease;
}

.nav_link:hover {
    color: #6415ff;
    text-decoration: underline;
}

.nav_link-primary {
    color: #f7fafc;
    background-color: #6415ff;
    padding: 12px 32px;
    border-radius: 50px;
    transition: all 300ms ease;
}

.nav_link-primary:hover {
    color: #f7fafc;
    background-color: #4f20ca;
    text-decoration: none;
}

.btn_menu{
    background-color: transparent;
    height: 36px;
    width: 54px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.menu_backdrop{
    top: 24px;
    position: absolute;
    background-color: #ffffff;
    margin: 24px 16px;
    height: 40vh;
    width: 95vw;
    margin: 24px 16px;
    padding: 32px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    transform: translate(100%, -100%);
    transition: all 450ms ease;
}

.menu-open .menu_backdrop{
    display: flex;
    transform: translate(0, 0);
}

.menu_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.menu_link{
    color: #1a202c;
    font-size: 18px;
    margin: 8px 0;
    padding: 0 0 4px;
}

.btn_menu-close{
    color: #1a202c;
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 10px;
}



/*HOMEPAGE*/

.homepage {
    display: flex;
    width: 100%;
    padding: 96px 0px;
}

.homepage_description {
    width: 40%;
}

.homepage_description-title {
    font-size: 48px;
    font-weight: 700;
}

.homepage_description-para {
    color: #243e63;
    font-size: 18px;
    line-height: 1.5;
    margin: 32px 0;
}

.homepage_form {
    border: 2px solid #a0aec04b;
    border-radius: 50px;
    font-size: 100%;
    position: relative;
    max-width: 448px;
    transition: all 500ms;
}

.homepage_form:focus-within {
    border: 2px solid #6415ff;
}

.homepage_form-email {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.4;
    width: 70%;
    padding-left: 16px;
}

.homepage_form-button {
    width: 27%;
    padding: 18px;
    margin: 8px 8px 8px 0;
    font-size: 14px;
    font-weight: 600;
    background-color: #6415ff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: #f7fafc;
    transition: all 300ms ease;
}

.homepage_form-button:hover {
    background-color: #4f20ca;
}

.homepage_description-image_title {
    font-size: 12px;
    font-weight: bold;
    color: #a0aec0;
    margin: 48px 0 0;
}


.homepage_description-img {
    width: 90%;
    margin: 16px 0 0;
    padding-right: 64px;
    opacity: 0.5;
}

.homepage_img {
    width: 60%;
}

/*FEATURES*/

#features {
    padding: 96px 32px;
    height: 100%;
}

.features_heading {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #6415ff;
    display: flex;
    justify-content: center;
    margin: 0 0 16px;
}

.features_title {
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features_description {
    color: #768ba1;
    max-width: 576px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.625;
    padding-top: 16px;
    margin: 0 auto;
    text-align: center;
}

.features_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features_list-item {
    width: 25%;
    display: flex;
    align-items: start;
    position: relative;
    padding: 32px 8px;
    margin: 0 16px;
}

.features_item-image {
    padding: 20px;
    border: 1px solid #a0aec083;
    border-radius: 50px;
}

.features_item-description {
    margin: 8px 0 0 16px;
    display: flex;
    flex-direction: column;
}

.features_item-description-title {
    color: #243e63;
    font-size: 24px;
}

.features_item-description-para {
    color: #768ba1;
    font-weight: 500;
    line-height: 1.8;
    font-size: 16px;
    margin: 16px 0;
}

/*QUALITY WORK*/

#quality_work {
    padding: 96px 32px;
}

.quality_work-description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quality_work-heading {
    width: 50%;
    margin-right: 60px;
}

.quality_work-heading-title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #6415ff;
    display: flex;
    margin: 0 0 16px;
}

.quality_work-heading-subtitle {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.05em;
    color: #243e63;
}

.quality_work-para {
    color: #768ba1;
    max-width: 576px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.625;
    padding-top: 16px;
}

.quality_work-button {
    font-size: 16px;
    font-weight: 700;
    background-color: #6415ff;
    border: none;
    border-radius: 50px;
    color: #f7fafc;
    transition: all 300ms ease;
    padding: 16px 32px;
    margin-top: 24px;
    cursor: pointer;
}

.quality_work-button:hover {
    background-color: #4f20ca;
}

.quality_work-image {
    width: 50%;
    display: flex;
    justify-content: start;
    border: 1px solid #768ba179;
    border-radius: 8px;
}

/*STEPS*/

#steps {
    padding: 96px 32px;
}

.steps_container {
    display: flex;
    justify-content: center;
}

.steps_image-wrapper {
    width: 50%;
    margin-top: 32px;
    margin-right: 24px;
}

.steps_image {
    width: 100%;
    height: auto;
    padding: 16px;
    padding-top: 32px;
    display: flex;
    align-items: center;
}

.steps_description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 0;
    margin-left: 40px;
}

.steps_description-title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #6415ff;
    display: flex;
    margin: 0 0 16px;
}

.steps_description-subtitle {
    font-size: 48px;
    font-weight: 900;
    color: #243e63
}

.steps_description-list {
    margin-top: 16px;
}

.steps_description-item {
    display: flex;
    margin-top: 32px;
}

.steps_description-information {
    margin-left: 24px;
}

.steps_description-index {
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    color: #cbd5e0;
}

.steps_description-heading {
    font-size: 20px;
    color: #243e63;
    line-height: 1;
    font-weight: 600;
}

.steps_description-para {
    font-size: 14px;
    margin-top: 12px;
    max-width: 320px;
    font-weight: 500;
    line-height: 2;
    color: #718096;
}

/*VALUES*/

#values {
    padding: 96px 32px;
}

.values_container {
    display: flex;
}

.values_description {
    width: 50%;
    margin-right: 76px;
}

.values_description-title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #6415ff;
    display: flex;
    margin: 0 0 16px;
}

.values_description-subtitle {
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
    letter-spacing: 0.025em;
}

.values_description-para {
    color: #768ba1;
    max-width: 576px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.625;
    margin-top: 32px;
}

.values_description-promise {
    display: flex;
}

.values_description-promise-item {
    margin: 32px 32px 0 0;
}

.values_description-promise-heading_container {
    display: flex;
    align-items: center;
}

.values_description-promise-heading {
    font-size: 20px;
    color: #243e63;
    margin-left: 12px;
    font-weight: 700;
}

.values_description-promies-para {
    color: #718096;
    font-size: 16px;
    margin-top: 16px;
}

.values_description-affordable-icon {
    color: #326a4d;
    font-size: 20px;
    padding: 8px 12px;
    background-color: #9ae6b4;
    border-radius: 20px;
}

.values_description-professional-icon {
    color: #a54241;
    font-size: 20px;
    padding: 8px 8px;
    background-color: #feb2b2;
    border-radius: 20px;
}

.values_button {
    font-size: 14px;
    font-weight: 700;
    color: #f7fafc;
    background-color: #6415ff;
    border: none;
    border-radius: 50px;
    padding: 16px 32px;
    margin-top: 48px;
    transition: all 300ms ease;
    cursor: pointer;
}

.values_button:hover {
    background-color: #4f20ca;
}

.values_image-container {
    width: 50%;
}

.values_image {
    width: 100%;
}

/*PRICING*/

#pricing {
    padding: 96px 32px;
}

.pricing_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing_title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #6415ff;
    display: flex;
    margin: 0 0 16px;
}

.pricing_subtitle {
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
    letter-spacing: 0.025em;
}

.pricing_para {
    color: #768ba1;
    max-width: 576px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.625;
    margin-top: 16px;
    text-align: center;
}

.pricing_card-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.pricing_card1 {
    position: relative;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 384px;
    border: 1px solid #718096;
    border-top: none;
    border-radius: 8px;
    background-color: #fff;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    text-align: center;
}

.pricing_card1-top {
    background-image: linear-gradient(115deg, rgb(56, 178, 172), rgb(129, 230, 217));
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.pricing_card1-heading-container {
    padding: 32px 0;
}

.pricing_card1-heading {
    color: #1a202c;
    font-size: 20px;
    font-weight: 700;
}

.pricing_card1-price {
    color: #1a202c;
    font-size: 48px;
    margin: 4px 0;
}

.pricing_card1-time {
    color: #a0aec0;
    font-size: 16px
}

.pricing_card1-description {
    margin: 0 -32px;
    padding: 32px;
}

.pricing_card1-description-heading {
    color: #1a202c;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.025em;
}

.pricing_card1-description-item {
    color: #718096;
    font-size: 16px;
    margin-top: 20px;
}

.pricing_card1-button-container {
    padding: 32px;
}

.pricing_card1-button {
    color: #f7fafc;
    font-size: 14px;
    font-weight: 700;
    padding: 16px 32px;
    letter-spacing: 0.05em;
    width: 100%;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(115deg, rgb(56, 178, 172), rgb(129, 230, 217));
    cursor: pointer;
    transition: all 300ms ease;
}


.pricing_card2 {
    position: relative;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 384px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    text-align: center;
    border-radius: 8px;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.pricing_card2-heading-container {
    padding: 32px 0;
}

.pricing_card2-heading {
    color: #f7fafc;
    font-size: 20px;
    font-weight: 700;
}

.pricing_card2-price {
    color: #f7fafc;
    font-size: 48px;
    margin: 4px 0;
}

.pricing_card2-time {
    color: #edf2f7;
    font-size: 16px
}

.pricing_card2-description {
    margin: 0 -32px;
    padding: 32px;
}

.pricing_card2-description-heading {
    color: #f7fafc;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.025em;
}

.pricing_card2-description-item {
    color: #edf2f7;
    font-size: 16px;
    margin-top: 20px;
}

.pricing_card2-button-container {
    padding: 32px;
}

.pricing_card2-button {
    color: rgb(100 21 255);
    background-color: rgb(247 250 252);
    font-size: 14px;
    font-weight: 700;
    padding: 16px 32px;
    letter-spacing: 0.05em;
    width: 100%;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms ease;
}

.pricing_card3 {
    position: relative;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 384px;
    border: 1px solid #718096;
    border-top: none;
    border-radius: 8px;
    background-color: #fff;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    text-align: center;
}

.pricing_card3-top {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.pricing_card3-heading-container {
    padding: 32px 0;
}

.pricing_card3-heading {
    color: #1a202c;
    font-size: 20px;
    font-weight: 700;
}

.pricing_card3-price {
    color: #1a202c;
    font-size: 48px;
    margin: 4px 0;
}

.pricing_card3-time {
    color: #a0aec0;
    font-size: 16px
}

.pricing_card3-description {
    margin: 0 -32px;
    padding: 32px;
}

.pricing_card3-description-heading {
    color: #1a202c;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.025em;
}

.pricing_card3-description-item {
    color: #718096;
    font-size: 16px;
    margin-top: 20px;
}

.pricing_card3-button-container {
    padding: 32px;
}

.pricing_card3-button {
    color: #f7fafc;
    font-size: 14px;
    font-weight: 700;
    padding: 16px 32px;
    letter-spacing: 0.05em;
    width: 100%;
    border: none;
    border-radius: 50px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    cursor: pointer;
    transition: all 300ms ease;
}

.pricing_card1-button:hover {
    transform: translate(5px, -5px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
}

.pricing_card2-button:hover {
    transform: translate(5px, -5px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
}

.pricing_card3-button:hover {
    transform: translate(5px, -5px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
}


/*TESTIMONIALS*/

#testimonials {
    padding: 96px 32px;
}

.testimonials_container {
    display: flex;
    width: 100%;
}

.testimonials_image-container {
    width: 110%;
    display: flex;
}

.testimonials_image {
    width: 100%;
}

.testimonials_description {
    padding-left: 64px;
}

.testimonials_title {
    color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.testimonials_subtitle {
    margin-top: 16px;
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
}

.testimonials_para {
    color: #7c8ba1;
    font-size: 18px;
    margin-top: 24px;
    font-weight: 500;
}

.testimonials_review-image-container {
    padding-top: 12px;
    width: 100%;
}

.testimonials_review-image {
    width: 100%;
    overflow: hidden;
}

/*PROMOTION*/

#promotion {
    padding: 96px 32px;
}

.promotion_container {
    background-color: #6415ff;
    border-radius: 8px;
}

.promotion_container-width {
    display: flex;
    padding: 96px 32px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.promotion_heading {
    width: 50%;
    font-size: 30px;
    color: #f7fafc;
    font-weight: 700;
}

.promotion_links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.promotion_get-started {
    color: #f7fafc;
    font-size: 16px;
    font-weight: 600;
    background-color: #f56565;
    margin-right: 32px;
    padding: 20px 40px;
    border-radius: 50px;
    border: none;
    transition: all 300ms ease;
}

.promotion_get-started:hover {
    background-color: #de403d;
}

.promotion_contact-us {
    color: #f7fafc;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 50px;
    border: 1px solid #f7fafc;
    transition: all 300ms ease;
}

.promotion_contact-us:hover {
    color: #6415ff;
    background-color: #f7fafc;
}

/*FOOTER*/

footer {
    padding-top: 64px;
    background-color: #6415ff;
}

.footer_link-lists {
    display: flex;
    justify-content: space-around;
}

.footer_link-list-section {
    margin-top: 48px;
}

.footer_link-list-heading {
    font-size: 16px;
    font-weight: 700;
    color: #f7fafc;
}

.footer_link-list {
    margin-top: 24px;
}

.footer_link-item {
    list-style-type: none;
    padding-bottom: 4px;
    margin: 12px 0 4px 0;
    transition: all 300ms ease;
}

.footer_link-item:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.footer_link {
    font-size: 14px;
    color: #f7fafc;
}

.footer_line {
    margin: 64px 0;
    height: 2px;
    border: none;
    background-color: rgb(116 44 255);
}

.footer_text-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 0 96px 0;
}


.footer_logo-title {
    display: flex;
    align-items: center;
}

.footer_logo-container {
    width: 32px;
}

.footer_logo {
    width: 100%;
}

.footer_title {
    color: #f7fafc;
    font-size: 20px;
    margin-left: 8px;
    font-weight: 900;
    letter-spacing: 0.05em;
}

.footer_text {
    color: #cbd5e0;
    font-size: 16px;
    font-weight: 500;
}

.footer_text-links {
    display: flex;
}

.footer_text-link {
    font-size: 12px;
    margin-right: 16px;
    padding: 8px 12px;
    background-color: #f7fafc;
    border-radius: 50px;
}

@media (max-width: 1024px) {
    .btn_menu{
        display: block;
    }
    .nav_link{
        display: none;
    }
    .homepage {
        flex-direction: column;
        max-width: 512px;
    }

    .homepage_description {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .homepage_description-title {
        font-size: 30px;
    }

    .homepage_description-para {
        font-size: 16px;
        margin: 20px 0;
    }

    .homepage_form {
        display: flex;
        justify-content: center;
    }

    .homepage_img {
        width: 100%;
    }

    .features_list-item {
        width: 35%;
    }

    .features_description {
        font-size: 16px;
    }

    .quality_work-heading-subtitle {
        font-size: 36px;
    }

    .quality_work-para {
        font-size: 16px;
    }

    .steps_description-subtitle {
        font-size: 36px;
    }

    .values_description-subtitle {
        font-size: 36px;
    }

    .values_description-para {
        font-size: 16px;
    }

    .values_description-promise {
        flex-direction: column;
        max-width: 320px;
    }

    .testimonials_image-container {
        width: 40%;
    }

    .testimonials_description {
        width: 60%;
    }

    .pricing_card-container {
        flex-direction: column;
    }

    .testimonials_subtitle {
        font-size: 36px;
    }

    .testimonials_description {
        font-size: 16px;
    }

    .promotion_container-width {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .promotion_links {
        margin-top: 24px;
    }

    .promotion_get-started {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .features_list-item {
        width: 50%;
    }

    .features_description {
        font-size: 14px;
    }

    .features_item-description-title {
        font-size: 24px;
    }

    .quality_work-description {
        flex-direction: column-reverse;
    }

    .quality_work-heading-title {
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }

    .quality_work-image {
        width: 70%;
    }

    .quality_work-heading {
        width: 75%;
        margin: 0;
        text-align: center;
    }

    .quality_work-para {
        font-size: 14px;
    }

    .steps_description {
        margin: 0;
    }

    .steps_description-title {
        display: flex;
        justify-content: center;
    }

    .steps_description-subtitle {
        width: 100%;
        text-align: center;
    }

    .steps_container {
        flex-direction: column;
        align-items: center;
    }

    .steps_image-wrapper {
        width: 70%;
    }

    .steps_image {
        padding: 0;
    }

    .steps_description-item {
        flex-direction: column;
        text-align: center;
    }

    .steps_description-index {
        margin-bottom: 8px;
    }

    .steps_description-information {
        margin: 0;
    }

    .values_container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .values_image-container {
        width: 70%;
        display: flex;
        justify-content: center;
    }

    .values_description {
        margin: 0;
        width: 70%;
        text-align: center;
    }

    .values_description-promise {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .values_description-promise-heading_container {
        justify-content: center;
    }

    .values_description-title {
        display: flex;
        justify-content: center;
        margin-top: 24px;
    }

    .pricing_subtitle {
        text-align: center;
    }

    .pricing_para {
        font-size: 14px;
    }

    .testimonials_container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .testimonials_description {
        padding: 0;
    }

    .testimonials_image-container {
        width: 70%;
    }

    .testimonials_title {
        margin-top: 36px;
    }

    .testimonials_para {
        font-size: 14px;
    }

    .promotion_heading {
        width: 80%;
    }

    .promotion_links {
        width: 70%;
    }

    .footer_text-container {
        flex-direction: column;
    }

    .footer_text {
        margin-top: 32px;
    }

    .footer_text-links {
        margin-top: 32px;
    }
}